@{
    ViewData["Title"] = "Product Page";

}
<h1>Product Page welcome</h1>

<nav class="navbar navbar-light bg-light mt-lg-5" >
    <a class="navbar-brand" href="/Product-List">
        <img src="~/img/5253785.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        Product List
    </a>
</nav>
<hr />
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/Create-Product">
        <img src="~/img/5253785.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        Create Product
    </a>
</nav>
<hr />