
@using ProjCQRS.Mvc.Models
@model Category
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Somethings went wrong. Try again</h1>
<a href="/Category-Detail/@Model.Id" class="btn btn-info btn" data-title="Back">Back To Info</a>