@{ 
    ViewData["Title"] = "Category Page";

}

<h1>Category Page welcome</h1>

<nav class="navbar navbar-light bg-light mt-lg-5">
    <a class="navbar-brand" href="/Category-List">
        <img src="~/img/5253785.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        Category List
    </a>
</nav>
<hr />
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/Create-Category">
        <img src="~/img/5253785.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        Create Category
    </a>
</nav>
<hr />